div{
    padding: 2px;
}

.logo-img{
    display: block;
    margin: 0 auto;
}

.center-span{
    margin: 0 auto;
}
.right-align{
    text-align: right;
}

.bottom-span{
    border: white;
    margin: 0 auto;
    width: 75%;
}

fieldset{
    width: 75%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 25px;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 20px;
}

fieldset label{
    font-size: 60%;
}

form input{
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 25px;

}

form input[type="submit"]{
    background-color: #f7c548;
    border-color: #a88734 #9c7e31 #846a29;
    font-size: 90%;
}

form input[ value = "Create your Amazon account"]{
    background-color: rgb(216, 216, 216);
    border-color:gray;
    font-size: 90%;}

a{  display: block;
    margin: 0 auto;
    font-size: 60%;
}

.bottom-center{
    margin: 0 auto;
    text-align: center;
}
.copyright{
    font-size: 50%;
    text-align: right;
}
h4{
    display: block;
    margin: 0 auto;
    font-size: 60%;
    color: solid #ddd;

}

